# Virtual environments
venv/
.venv/

# Python cache / artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables & DBs
.env
.env.*
*.sqlite
*.db

# Source control & CI
.git/
.github/

# Testing
tests/
*_test.py
test_*.py

# Node/Frontend
node_modules/
fairlens-frontend/

# Local data cache
uploads/
data/
